<section class="homePageMiddleContainer">
    <section class="boards recent">
        <header class="boardCategory"><h3><i class="fas fa-clock" aria-hidden="true"></i> Recently Viewed</h3></header>
        <section class="recentlyviewed">
        </section>
    </section>
    <section class="boards personal">
        <header class="boardCategory"><h3><i class="fa fa-lock" aria-hidden="true"></i> Personal Boards</h3></header>
        <section class="personalBoards">
        </section>
    </section>
    <section class="boards team">
        <header class="boardCategory"><h3><i class="fas fa-user-friends"></i> Team Boards</h3></header>
        <section class="teamBoards">
        </section>
    </section>
    <section class="boards public">
        <header class="boardCategory"><h3><i class="fa fa-globe" aria-hidden="true"></i> Public Boards</h3></header>
        <section class="publicBoards">
        </section>
    </section>
</section>